.tabContainer {
    white-space: nowrap;
    height: auto;
    overflow-y: auto;
}

::-webkit-scrollbar {
    background: transparent;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border: 2px solid rgb(52, 52, 52);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: black;
    border: 2px solid white;
    border-radius: 10px;
}